<div class='container'>
  <div class='row'>
    <h1>マイページ</h1>
    <%= @end_user.name %>
    <div>
      <%= link_to "ユーザー情報を変更する", edit_information_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
