<div class='container my-5'>
  <div class='row card-wrapper'>
    <%= render 'public/posts/index', posts: @posts %>
  </div>
  <div class='row'>
    <div class='col-md-2 mx-auto mt-4'>
      <div class='pagination'><%= paginate @posts %></div>
    </div>
  </div>
</div>
