<div class='container'>
  <div class='row'>
    <h1>投稿一覧</h1>
      <% @posts.each do |f| %>
        <div>
        <%= image_tag f.get_view_image, size: "200x200" %><br>
        <%= f.title %>
        </div>
      <% end %>
  </div>
</div>
