<div class='text-right mr-5 mb-2'>
  <%= form_with url: search_path, local: true, method: :get do |f| %>
    <%= f.text_field :word %>
    <%= button_tag type: 'submit', class:'btn btn-outline-dark btn-sm' do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>
</div>