<div class='container my-5'>
  <div class='row'>
    <div class='col-sm-12 col-md-8 col-lg-6 px-sm-0 mx-auto text-center'>
      <h2>メールを送信しました</h2>
      <p>内容は以下の通りです。<u>※ グループ作成者にもメールが届きます。</u></p>

      <div class='col-sm-10 col-md-9 col-lg-8 px-sm-0 mx-auto text-left my-4'>
      <h5>[タイトル]</h5>
      <p><%= @title %></p>

      <h5>[本文]</h5>
      <p><%= simple_format(@body) %></p>
      </div>
      <%= link_to "グループ一覧へ戻る", groups_path, class: 'btn btn-dark' %>
    </div>
  </div>
</div>