<div class='container'>
  <div class='row'>
    <div class='col-5 offset-1'>
      <h2 class='py-5'>サイトでできること</h2>
      <h5>絶景の検索</h5><br>
      <p>キーワードもしくは、投稿に付けられたタグから<br>
      絶景を検索できます。</p><br>

      <h5>写真の投稿</h5><br>
      <p>あなたの思う絶景をぜひ共有してください。<br>
      いいねやコメントがもらえるかも。</p><br>

      <h5>グループの作成</h5><br>
      <p>絶景スポットに行きたいメンバーを募ることができます。</p>

    </div>
    <div class='col-6 mt-3'>
      <div class="d-block mx-auto img-fluid w-70">
      <%= image_tag 'image2.jpg', size: '400x600' %>
    </div>
  </div>
</div>
<div class='container' style='padding: 80px 0px;'>
  <div class='row'>
    <div class='col-8 mx-auto text-center'>
      <h3>絶景好きが交流できるコミュニティーサイトです。<br>
      誰でも大歓迎。<br>
      あなたが感動した絶景をみんなで共有しましょう。</h3>
      <br>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-7'>
      <div class="d-block mx-auto img-fluid w-70">
        <%= image_tag 'image3.jpg', size: '500x300' %>
      </div>
    </div>
    <div class='col-4'>
      <h2 class='pt-4 pb-5'>サイトの特徴</h2>
      <h5>グループで絶景スポットに行く</h5><br>
      <p>グループ作成をすると一緒にスポットに行くメンバーを募集できる。</p>
      <p>価値観の合う友達に会えるかも。</p>
    </div>
    <div class='col-1'></div>
  </div>
</div>

<div class='container' style='padding: 80px 0px;'>
  <div class='row'>
    <div class='col-8 mx-auto text-center'>
      <h3>サイトのポリシー</h3><br>
      <p>気持ちの良い交流を目指しています。いいねは積極的に。</p>
      <p>自然が織りなす絶景が集まることを目的としています。<br>
      （建物や人物が入っていても一部であれば問題ありません）</p>
      <p>感性は人それぞれです。あなたが良いと思った絶景を投稿してみましょう。</p>
      <p>批判的な見方をされる方はご遠慮ください。</p>
    </div>
  </div>
</div>

<div class='container my-5'>
  <div id='group-explanation' class='row'>
    <div class='col-8 mx-auto text-center'>
      <h3>グループについて</h3>
      <p>（※ グループを利用するためにはログインが必要です。）</p><br>
    </div>
    <div class='col-8 mx-auto'>
      <h4>□グループ作成</h4>
      <p></p>
      <p>1. グループ一覧画面からグループを新規作成のボタンをクリック</p>
      <p>2. グループのタイトル、概要、行き先、開催日を入力して作成ボタンをクリック（写真は任意）</p>
      <p>3. グループ一覧から作成したグループを選択すると詳細が確認できます。</p>
      <p>4. 編集ボタンを押すと内容を変更することができます。</p><br>

      <h4>□グループへの参加・脱退</h4>
      <p></p>
      <p>1. グループ一覧画面から参加したいグループをクリック</p>
      <p>2. 参加するボタンをクリックすると参加となり、メンバーに名前が追加されます。</p>
      <p>3. 脱退ボタンをクリックするとメンバーから名前が削除されます。</p><br>

      <h4>□メンバーにイベントを通知</h4>
      <p></p>
      <p> グループ作成者はメンバーにイベントについてお知らせメールを送信できます。<br>
      （※ 送信元のメールアドレスはサイト管理下のアドレスが使用されます。）</p>
      <p>1. グループの詳細画面からメンバーにイベントを通知ボタンをクリック</p>
      <p>2. フォームにタイトルと本文を入力（日時、集合場所、雨天の場合などの詳細）</p>
      <p>3. 送信ボタンをクリックした後、メールを送信しましたの画面が出たら通知完了。</p>
      <p>4. グループ作成者にもメンバーと同様のメールが送信されます。</p>
    </div>
  </div>
</div>
