<div class='container'>
  <div class='row'>
    <div class='col-5 offset-1'>
      <h2 class='py-5'>サイトでできること</h2>
      <h5>絶景の検索</h5><br>
      <p>キーワードもしくは、投稿に付けられたタグから絶景を検索できます。</p>

      <h5>写真の投稿</h5><br>
      <p>あなたの思う絶景をぜひ共有してください。いいねやコメントがもらえるかも。</p>

      <h5>グループの作成</h5><br>
      <p>絶景スポットに行きたいメンバーを募ることができます。</p>
      <br>
    </div>
    <div class='col-6 mt-3'>
      <div class="d-block mx-auto img-fluid w-70">
      <%= image_tag 'image2.jpg', size: '400x600' %>
    </div>
  </div>
<div class='container'>
  <div class='row'>
    <div class='col-2'></div>
    <div class='col-8'>
      <p>絶景好きが交流できるコミュニティーサイトです。あなたが感動した絶景をみんなに共有しましょう。</p>
      <br>

      <p>サイトの特徴<br>

      </p><br>
    </div>
    <div class='col-2'></div>
  </div>
</div>
</div>
