<div class='top-image'>
  <div class='top-text'>
    絶景好きが集まる<br>
    コミュニティーサイト<br>
    <div class='about-button'>
      <a href='about'>サイトについて</a>
    </div>
  </div>
</div>
<div class='container mt-5'>
  <div class='row my-5 card-wrapper'>
    <%= render 'public/posts/index', posts: @posts %>
  </div>
</div>
