<div class='top-image'>
  <div class='top-text'>
    <%= t('.for_superb_view_lovers') %><br>
    <%= t('.community_website') %><br>
    <div class='about-button'>
      <a href='about'><%= t('.about') %></a>
    </div>
  </div>
</div>
<div class='container mt-5'>
  <div class='row my-5 card-wrapper'>
    <%= render 'public/posts/index', posts: @posts %>
  </div>
</div>
