<div class='container my-5'>
  <div class='row'>
    <div class='col-sm-10 col-md-10 col-lg-8 px-sm-0 mx-auto'>
      <h3 class='mb-4'>タグ一覧</h3>
      <% @tags.each do |f| %>
        <span class='mr-4'>
          <i class="fa-solid fa-tags mb-4"></i> <%= f.name %>(<%= f.post_tags.count %>)
          <%= link_to "削除", admin_tag_path(f), method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'btn btn-dark btn-sm' %>
        </span>
      <% end %>
    </div>
  </div>
</div>