 <div class='container my-5'>
  <div class='row'>
    <div class='col-sm-10 col-md-10 col-lg-8 px-sm-0 mx-auto'>
      <h3 class='mb-4'><%= t('.search_from_tags') %></h3>
      <% @tags.each do |f| %>
        <% if f.post_tags.where(post: @posts).count >= 1 %>
          <span class='mr-4'>
            <i class="fa-solid fa-tags mb-4"></i> <u><%= link_to f.name, tag_path(f.id), class: 'text-dark' %></u>(<%= f.post_tags.where(post: @posts).count %>)
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class='mx-auto mt-4'>
      <div class='pagination'><%= paginate @tags %></div>
    </div>
  </div>
</div>