<div class='container my-5'>
  <h3>"<%= @tag.name %>"タグの検索結果：<%= @posts.count %>件</h3>
  <div class='row'>
    <%= render 'public/posts/index', posts: @posts %>
  </div>
  <div class='row'>
    <div class='col-md-2 mx-auto mt-4'>
      <div class='pagination'><%= paginate @posts %></div>
    </div>
  </div>
</div>
