<%= form_with model:[post, post_comment], url: post_post_comments_path(post), method: :post, local: false do |f| %>
  <table>
    <tr>
      <td><%= f.text_area :body, placeholder: t('.under_100letters'), size:'45x2', class:'comment-textarea' %></td>
      <td><%= f.submit t('.send'), class: 'btn btn-outline-dark' %></td>
    </tr>
  </table>
<% end %>