/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   min-height: 100vh;
   position: relative;
   padding-bottom: 120px;
   box-sizing: border-box;
 }

 footer {
   width: 100%;
   position: absolute;
   text-align: center;
   padding: 40px 0;
   bottom: 0;
   font-family: Gill Sans, sans-serif;
   font-size: 20px;
   border-top: 1px solid;
 }

 li a,
 li a:hover {
   color: black;
   display: block;
   width: 150px;
   padding: 8px 0;
 }

 .top-image {
   background-image: url(image1.jpg);
   background-size: cover;
   width: 100%;
   height: 700px;
   position: relative;
 }

 .top-text {
  padding: 200px 60px;
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 2px #6c6c6c;
  color: #fcfcfc;
 }

.about-button a {
  padding: 1em 2em;
  width: 300px;
  color: #fff;
  font-size: 18px;
  border: 1px solid #fff;
}

.about-button a:hover {
  text-decoration: none;
  background-color: #a0c4d3;
}

.card {
  transition: box-shadow 0.3s, transform 0.3s;
}

.card:hover {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.24);
  transform: translate(0, -2px);
}

.pagination>li>a {
  border: none;
  color: #000;
  width: 100%;
  margin-right: 20px;
  text-align: center;
}

.pagination>.active>a {
  color: darkgray;
}